.newList_item{
  border-bottom:1px solid black;
  margin-top: 0px;
  padding: 8px 5px 0 0px;
}

.newList_item h2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 200;
  margin:5px 0;
  color: black;
}

.newsList_wrapper {
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-100%);
  transition: all .5s ease-in;
}

.newsList_wrapper_enter{
  opacity: 1;
  transform: translateX(0%);

}
